lib/darwin/**/*.dylib filter=lfs diff=lfs merge=lfs -text
lib/darwin/*.dylib filter=lfs diff=lfs merge=lfs -text
lib/darwin/**/*.tex filter=lfs diff=lfs merge=lfs -text
lib/darwin/**/*.hdr filter=lfs diff=lfs merge=lfs -text
third_party/odin-imgui/*.a filter=lfs diff=lfs merge=lfs -text
